$primary-bright: #FFCDD2 !default;
$primary-light: #F44336 !default;
$primary: #D32F2F !default;
$primary-dark: #B71C1C !default;

$gray-bright: #F5F5F5 !default;
$gray-light: #E0E0E0 !default;
$gray: #9E9E9E !default;
$gray-dark: #212121 !default;

$info: #000000;
$success: #000000;
$warning: #000000;
$danger: #000000;

$black: #0a0a0a !default;
$white: #fefefe !default;

$normal: #B4966E !default;
$fighting: #FF6464 !default;
$flying: #828CC8 !default;
$poison: #B464A0 !default;
$ground: #E6B464 !default;
$rock: #AAA064 !default;
$bug: #96AA3C !default;
$ghost: #826E96 !default;
$steel: #8CB4BE !default;
$fire: #FB7850 !default;
$water: #50C8DC !default;
$grass: #78C85A !default;
$electric: #FFC80A !default;
$psychic: #FF648C !default;
$ice: #6EDCD2 !default;
$dragon: #5A64AA !default;
$dark: #5A5050 !default;
$fairy: #FF78AA !default;

.primary {
  background: $primary;
  color: $white;
}

.white {
  background: $white;
}

.grass {
  background: $grass;
}

.poison {
  background: $poison;
}