$primary-bright: #FFCDD2 !default;
$primary-light: #F44336 !default;
$primary: #D32F2F !default;
$primary-dark: #B71C1C !default;

$gray-bright: #F5F5F5 !default;
$gray-light: #E0E0E0 !default;
$gray: #9E9E9E !default;
$gray-dark: #212121 !default;

$info: #000000;
$success: #000000;
$warning: #000000;
$danger: #000000;

$black: #0A0A0A !default;
$white: #FEFEFE !default;

$normal: #B4966E !default;
$fighting: #FF6464 !default;
$flying: #828CC8 !default;
$poison: #B464A0 !default;
$ground: #E6B464 !default;
$rock: #AAA064 !default;
$bug: #96AA3C !default;
$ghost: #826E96 !default;
$steel: #8CB4BE !default;
$fire: #FB7850 !default;
$water: #50C8DC !default;
$grass: #78C85A !default;
$electric: #FFC80A !default;
$psychic: #FF648C !default;
$ice: #6EDCD2 !default;
$dragon: #5A64AA !default;
$dark: #5A5050 !default;
$fairy: #FF78AA !default;

.primary {
  background: $primary;

}

.white {
  background: $white;
}

.normal {
  background: $normal;
  color: $white;
  text-transform: uppercase;
}

.fighting {
  background: $fighting;
  color: $white;
  text-transform: uppercase;
}

.flying {
  background: $flying;
  color: $white;
  text-transform: uppercase;
}

.poison {
  background: $poison;
  color: $white;
  text-transform: uppercase;
}

.ground {
  background: $ground;
  color: $white;
  text-transform: uppercase;
}

.rock {
  background: $rock;
  color: $white;
  text-transform: uppercase;
}

.bug {
  background: $bug;
  color: $white;
  text-transform: uppercase;
}

.ghost {
  background: $ghost;
  color: $white;
  text-transform: uppercase;
}

.steel {
  background: $steel;
  color: $white;
  text-transform: uppercase;
}

.fire {
  background: $fire;
  color: $white;
  text-transform: uppercase;
}

.water {
  background: $water;
  color: $white;
  text-transform: uppercase;
}

.grass {
  background: $grass;
  color: $white;
  text-transform: uppercase;
}

.electric {
  background: $electric;
  color: $white;
  text-transform: uppercase;
}

.psychic {
  background: $psychic;
  color: $white;
  text-transform: uppercase;
}

.ice {
  background: $ice;
  color: $white;
  text-transform: uppercase;
}


.dragon {
  background: $dragon;
  color: $white;
  text-transform: uppercase;
}

.dark {
  background: $dark;
  color: $white;
  text-transform: uppercase;
}

.fairy {
  background: $fairy;
  color: $white;
  text-transform: uppercase;
}
