.pokemon {

  .builder-col {
    float: left;
    padding: 0 8px 0 0;
    width: 25%;

    .portrait {
      border: solid 1px $black;
      height: 96px;
      margin: 0 auto;
      width: 96px;
    }

    .type-row {
      height: 20px;
      width: 100%;
    }

    .type1 {
      color: $white;
      float: left;
      height: 20px;
      padding-right: 4px;
      width: 50%;
    }

    .type2 {
      color: $white;
      float: left;
      height: 20px;
      padding-left: 4px;
      width: 50%;
    }
  }
}