.pokemon {

  .builder-col {
    float: left;
    padding: 0 8px 0 0;
    width: 25%;

    .portrait {
      border: solid 1px $black;
      height: 96px;
      margin: 0 auto;
      width: 96px;
    }

    input[type="text"]{
      background: transparent;
      border-bottom: 1px solid $divider-color;
      border-left: none;
      border-right: none;
      border-top: none;
      box-shadow: none;
      color: $secondary-text-color;
      display: block;
      font-size: 16px;
      height: 37px;
      line-height: 1.846153846;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      width: 100%;
    }

    input[type="text"]:focus{
      border-color: map-get($primary, 'main');
      box-shadow: none;
      outline: 0;
    }
  }



  .card {

    .heading {
      background: $red-500;
      line-height: 14px !important;
      min-height: 15px !important;
      padding: 4px 4px !important;

      .card-title {
        color: $white;
        font-size: 11px !important;
        line-height: 14px !important;
        padding: 4px 5px !important;
      }
    }

    .body {
      height: 152px;
      padding: 8px !important;

      .form-group {
        margin-bottom: 8px !important;
        padding-top: 10px !important;
      }

      .form-control {
        font-size: 12px !important;
        height: 15px !important;
        line-height: 14px !important;
      }

      .form-control ~ label {
        font-size: 10px !important;
      }

      &:nth-child(4){
        padding: 0 !important;
      }

      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        li ul {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            font-size: 8px;
            height: 10px;

            &.first {
              width: 25%;
            }
            &.second {
              width: 50%;
            }
            &.third {
              width: 25px;
            }
          }
        }
      }
    }
  }
}