#pokedex {
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      border-bottom: 2px solid $divider-color;
      display: block;
      height: 32px;
      width: 100%;

      div {
        float: left;
      }

      .icon {
        width: 7%;
      }

      .name {
        width: 15%;
      }

      .types {
        width: 20%;
      }

      .abilities {
        width: 30%;
      }

      .stat {
        text-align: center;
        width: 4%;
      }
    }
  }
}