
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include flex-box(column);
  font-family: $font;
  font-size: $font-size;
}

.top {
  @include box-shadow();
  @include flex();
  z-index: 1000;

  &>div {
    @include flex-item(1, 0, 64px);
  }
}

.main {
  @include flex-box();
  @include flex-item(1, 1, auto);

  &>.body {
    background: $gray-bright;
    @include flex-box(column);
    @include flex-item(1, 1, auto);

    &>.title {
      background: $gray-light;
      @include box-shadow();
      @include flex-item(0, 0, auto);
      padding: $gutter;
      z-index: 800;
    }

    &>.content {
      @include box-shadow();
      @include flex-box();
      @include flex-item(1, 1, auto);
      padding: $gutter;
      z-index: 700;
    }

    &>.footer {
      background: #FEFEFE;
      flex: 0 0 auto;
      padding: 16px;
    }
  }
}

@media screen and (max-width: $small){
  .top {
    @include flex-item(0, 0, 128px);
    @include flex-column();

    &>div:nth-child(1){
      border-bottom: solid 1px $black;
    }
  }

  .main > .left-menu{
    @include hide();
  }

  .hide-small {
    visibility: hidden;
  }
}

@media screen and (min-width: 481px){
  .top {
    @include flex-item(0, 0, 64px);
    @include flex-row();
  }

  .main > .left-menu {
    background: $gray-dark;
    @include flex-item(0, 0, 64px);
    z-index: 900;
  }

  .hide-medium {
    visibility: hidden;
  }
}

@media screen and (max-width: $large){

  .hide-large {
    visibility: hidden;
  }
}