.pokedex {
  @include flex-box();
  @include flex-item(1, 1, auto);

  &>.search {
    margin-right: 8px;
    @include flex-item(0, 1, 50%);

    &>.body {
      @include flex-box(column);

      &>.tab-bar {
        margin: 0 -6px 6px;
      }

      &>.form-group {
        @include flex-item();
      }

      &>.results{
        align-self: stretch;
        @include flex-box(column);
        @include flex-item(0, 1, auto);
        overflow-y: scroll;
        padding-right: 6px;

        &>div {
          @include flex-box();
          @include flex-item();

          &>div {
            border-bottom: 1px solid $black;
            height: 40px;
            padding: 3px;
          }
        }

        &>.pokemon {
          .icon {
            @include flex-item(1, 0, 7%);
          }

          .name {
            @include flex-item(1, 0, 14%);
          }

          .types {
            @include flex-item(1, 0, 19%);
            @include flex-box();
            padding: 6px 3px;
            align-items: center;

            &>div {
              @include flex-item(1, 1, 0);
              padding: 3px 0;
              text-align: center;

              &:nth-child(1){
                margin-right: 4px;
              }

              &:nth-child(2){
                margin-left: 3px;
              }
            }


          }

          .abilities {
            @include flex-item(1, 0, 27%);
          }

          .statistics {
            align-items: center;
            @include flex-item(1, 0, 32%);
            @include flex-box();
            text-align: center;

            &>div {
              @include flex-item(1, 1, auto);
            }
          }
        }

        &>.item {

        }

        &>.ability {

        }

        &>.move {

        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
          width: 6px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #000000;
        }
      }
    }
  }

  &>.entry {
    margin-left: 8px;
    @include flex-item(0, 1, 50%);

     &>.body {
       @include flex-box(column);

       &>div {
         @include flex-item();
         @include flex-box();

         &>div{
           @include flex-item();
         }
       }
     }
  }
}